<header> <h4>{{productTitle}}</h4></header>
<hr>
<div class="content">
  <div>
    Filter by: <input type='text' [(ngModel)]='listFilter' />
  </div>
  <div>
      <h5>Filtered by: {{listFilter}}</h5>
  </div>
  <div>
    <table *ngIf="products && products.length > 0">
      <thead>
        <tr>
          <th>
              <button (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
          <td>
            <img  *ngIf='showImage'
                  [src]="product.imageUrl"
                  [title]="product.productName" alt=""
                  [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'>
          </td>
          <td> {{product.productName}}</td>
          <td> {{product.productCode | lowercase | convertToSpace: '-' }}</td>
          <td> {{product.releaseDate}}</td>
          <td> {{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
          <td> {{product.starRating}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
