.content {
    margin: 10px;
}

tr {
    padding-top: 10px;
}

thead {
  color: green;
  text-decoration: underline;
}

th {
    padding-left: 50px;
    padding-right: 50px;
}

td {
    padding-left: 50px;
    padding-right: 50px;
}
